In [1]:
import pandas as pd

In [17]:
file = 'DATI/2015/4_2015.xlsx'

In [18]:
xl = pd.ExcelFile(file)

In [19]:
df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18 )

In [20]:
df.head(20)

,Brand,Channel,TDA,PC,MOBILE,TDA.1,PC.1,MOBILE.1,TDA.2,PC.2,MOBILE.2,TDA.3,PC.3,MOBILE.3,TDA.4,PC.4,MOBILE.4,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,3000.tv ...,...,160,0,160,160,0,160,0,0,0,0,0,0,00:04,00:00,00:04,00:04,00:00,00:04
1,3BMeteo ...,...,474747,179290,297672,474747,179290,297672,1420,800,620,1420,800,620,01:58,02:11,01:50,01:58,02:11,01:50
2,4skiers.it ...,...,1,1,0,1,1,0,0,0,0,0,0,0,00:52,00:52,00:00,00:52,00:52,00:00
3,4snowboard.it ...,...,79,0,79,79,0,79,0,0,0,0,0,0,01:32,00:00,01:32,01:32,00:00,01:32
4,4surf.it ...,...,333,333,0,333,333,0,1,1,0,1,1,0,01:16,01:16,00:00,01:16,01:16,00:00
5,4windsurf.it ...,...,257,37,221,257,37,221,0,0,0,0,0,0,01:02,02:03,00:52,01:02,02:03,00:52
6,Abbonationline ...,...,319,319,0,319,319,0,2,2,0,2,2,0,01:52,01:52,00:00,01:52,01:52,00:00
7,Affaritaliani.it ...,...,33467,25890,7628,33467,25890,7628,118,97,21,118,97,21,02:37,02:43,02:18,02:37,02:43,02:18
8,Affashionate.com ...,...,134,134,0,134,134,0,0,0,0,0,0,0,01:34,01:34,00:00,01:34,01:34,00:00
9,AGI ...,...,41679,22380,19299,41679,22380,19299,93,43,50,93,43,50,02:06,02:03,02:10,02:06,02:03,02:10
10,Agora Vox ...,...,2685,2685,0,2685,2685,0,4,4,0,4,4,0,01:19,01:19,00:00,01:19,01:19,00:00
11,Agrodolce.it ...,...,72767,40153,32681,32493,21818,10675,274,169,105,172,124,48,02:56,03:23,02:22,04:00,04:04,03:52
12,Agrodolce.it ...,Agrodolce.it TAL Food & Cooking ...,40514,18522,22006,0,0,0,102,45,57,0,0,0,02:03,02:32,01:39,00:00,00:00,00:00
13,Agrodolce.it ...,Agrodolce ...,32493,21818,10675,32493,21818,10675,172,124,48,172,124,48,04:00,04:04,03:52,04:00,04:04,03:52
14,Alessia Scrap & Craft ...,...,72,0,72,72,0,72,0,0,0,0,0,0,00:30,00:00,00:30,00:30,00:00,00:30
15,alfemminile.com ...,...,342720,149990,196479,342720,149990,196479,1333,613,720,1333,613,720,03:22,02:37,03:53,03:22,02:37,03:53
16,Alice.tv ...,...,35177,19491,15685,35177,19491,15685,146,70,76,146,70,76,03:12,03:46,02:30,03:12,03:46,02:30
17,Alice.tv ...,Alice.tv(altro) ...,26663,15623,11040,26663,15623,11040,114,56,58,114,56,58,03:02,03:37,02:12,03:02,03:37,02:12
18,Alice.tv ...,Lifestyle Alice ...,4822,1990,2832,4822,1990,2832,12,4,9,12,4,9,02:56,02:11,03:28,02:56,02:11,03:28
19,Alice.tv ...,Peccati di gola ...,4024,2249,1774,4024,2249,1774,13,5,8,13,5,8,02:59,03:51,01:53,02:59,03:51,01:53

In [21]:
df = df.drop('Channel', axis=1)

In [22]:
df = df.drop('TDA.1', axis=1)

In [23]:
df = df.drop('PC.1', axis=1)

In [24]:
df = df.drop('MOBILE.1', axis=1)

In [25]:
df = df.drop('TDA.3', axis=1)

In [26]:
df = df.drop('PC.3', axis=1)

In [27]:
df = df.drop('MOBILE.3', axis=1)

In [28]:
df.head(10)

,Brand,TDA,PC,MOBILE,TDA.2,PC.2,MOBILE.2,TDA.4,PC.4,MOBILE.4,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,3000.tv ...,160,0,160,0,0,0,00:04,00:00,00:04,00:04,00:00,00:04
1,3BMeteo ...,474747,179290,297672,1420,800,620,01:58,02:11,01:50,01:58,02:11,01:50
2,4skiers.it ...,1,1,0,0,0,0,00:52,00:52,00:00,00:52,00:52,00:00
3,4snowboard.it ...,79,0,79,0,0,0,01:32,00:00,01:32,01:32,00:00,01:32
4,4surf.it ...,333,333,0,1,1,0,01:16,01:16,00:00,01:16,01:16,00:00
5,4windsurf.it ...,257,37,221,0,0,0,01:02,02:03,00:52,01:02,02:03,00:52
6,Abbonationline ...,319,319,0,2,2,0,01:52,01:52,00:00,01:52,01:52,00:00
7,Affaritaliani.it ...,33467,25890,7628,118,97,21,02:37,02:43,02:18,02:37,02:43,02:18
8,Affashionate.com ...,134,134,0,0,0,0,01:34,01:34,00:00,01:34,01:34,00:00
9,AGI ...,41679,22380,19299,93,43,50,02:06,02:03,02:10,02:06,02:03,02:10

In [29]:
df[df['Brand'].str.match('Giallozafferano.it')]

,Brand,TDA,PC,MOBILE,TDA.2,PC.2,MOBILE.2,TDA.4,PC.4,MOBILE.4,Unnamed: 17,Unnamed: 18,Unnamed: 19
323,Giallozafferano.it ...,663810,260836,407681,2585,903,1682,04:02,03:44,04:11,04:02,03:44,04:11
324,Giallozafferano.it ...,653355,255376,402504,2530,879,1651,04:02,03:46,04:10,04:02,03:46,04:10
325,Giallozafferano.it ...,30039,16245,13794,55,24,31,01:25,00:39,02:20,01:25,00:39,02:20

In [30]:
df = df.drop([315,316], axis=0)

In [16]:
df[df['Brand'].str.match('Giallozafferano.it')]

,Brand,TDA,PC,MOBILE,TDA.2,PC.2,MOBILE.2,TDA.4,PC.4,MOBILE.4,Unnamed: 17
327,Giallozafferano.it ...,736273,298763,443448,3007,1091,1916,04:04,03:52,04:09,NaN
328,Giallozafferano.it ...,728544,294436,439856,2959,1066,1893,04:04,03:53,04:09,NaN
329,Giallozafferano.it ...,29208,17118,12177,47,24,23,01:05,00:44,01:34,NaN