In [1]:
import pandas as pd

In [5]:
file = 'DATI/2015/2_2015.xlsx'

In [6]:
xl = pd.ExcelFile(file)

In [9]:
df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18 )

In [10]:
df.head(20)

,Brand,Channel,TDA,PC,MOBILE,TDA.1,PC.1,MOBILE.1,TDA.2,PC.2,MOBILE.2,TDA.3,PC.3,MOBILE.3,TDA.4,PC.4,MOBILE.4,Unnamed: 17
0,3000.tv ...,...,450,0,450,450,0,450,0,0,0,0,0,0,00:03,00:00,00:03,NaN
1,3BMeteo ...,...,561127,246138,317882,561127,246138,317882,1880,1202,677,1880,1202,677,02:14,02:31,02:01,NaN
2,4skateboard.it ...,...,19,19,0,19,19,0,0,0,0,0,0,0,00:16,00:16,00:00,NaN
3,4skiers.it ...,...,396,396,0,396,396,0,1,1,0,1,1,0,01:04,01:04,00:00,NaN
4,4snowboard.it ...,...,151,20,131,151,20,131,0,0,0,0,0,0,03:48,03:17,03:53,NaN
5,4surf.it ...,...,113,113,0,113,113,0,1,1,0,1,1,0,03:16,03:16,00:00,NaN
6,4windsurf.it ...,...,152,33,120,152,33,120,1,0,1,1,0,1,01:36,00:40,01:51,NaN
7,Abbonationline ...,...,595,314,280,595,314,280,1,1,0,1,1,0,00:54,01:20,00:25,NaN
8,Affaritaliani.it ...,...,44457,31725,12734,44457,31725,12734,194,144,50,194,144,50,02:48,02:38,03:13,NaN
9,AGI ...,...,49572,30319,19253,49572,30319,19253,113,58,54,113,58,54,02:44,02:59,02:21,NaN
10,Agora Vox ...,...,2381,2381,0,2381,2381,0,3,3,0,3,3,0,01:40,01:40,00:00,NaN
11,Agrodolce.it ...,...,90481,45638,45067,90481,45638,45067,318,122,196,318,122,196,03:23,02:41,04:05,NaN
12,Agrodolce.it ...,Agrodolce ...,35975,21872,14240,35975,21872,14240,132,64,69,132,64,69,03:34,02:45,04:46,NaN
13,Agrodolce.it ...,La Cuochina Sopraffina ...,15455,5985,9470,15455,5985,9470,26,8,18,26,8,18,02:13,01:48,02:29,NaN
14,Agrodolce.it ...,Ricette Bimby ...,12722,6245,6477,12722,6245,6477,59,19,40,59,19,40,03:30,02:32,04:26,NaN
15,Agrodolce.it ...,Ricette dal Mondo ...,12138,4940,7198,12138,4940,7198,62,12,50,62,12,50,04:06,02:20,05:18,NaN
16,Agrodolce.it ...,Tavolartegusto ...,7269,3412,3857,7269,3412,3857,15,7,8,15,7,8,03:12,03:08,03:15,NaN
17,Agrodolce.it ...,Semplice Veloce ...,5024,2740,2284,5024,2740,2284,12,6,6,12,6,6,02:37,03:23,01:42,NaN
18,Agrodolce.it ...,Il Cuore in pentola ...,3157,1061,2097,3157,1061,2097,11,6,5,11,6,5,04:14,04:05,04:19,NaN
19,Alessia Scrap & Craft ...,...,1840,653,1187,1840,653,1187,3,1,2,3,1,2,00:57,01:08,00:52,NaN

In [13]:
df = df.drop('Channel', axis=1)

In [16]:
df = df.drop('TDA.1', axis=1)

In [17]:
df = df.drop('PC.1', axis=1)

In [18]:
df = df.drop('MOBILE.1', axis=1)

In [20]:
df = df.drop('TDA.3', axis=1)

In [21]:
df = df.drop('PC.3', axis=1)

In [22]:
df = df.drop('MOBILE.3', axis=1)

In [23]:
df.head(10)

,Brand,TDA,PC,MOBILE,TDA.2,PC.2,MOBILE.2,TDA.4,PC.4,MOBILE.4,Unnamed: 17
0,3000.tv ...,450,0,450,0,0,0,00:03,00:00,00:03,NaN
1,3BMeteo ...,561127,246138,317882,1880,1202,677,02:14,02:31,02:01,NaN
2,4skateboard.it ...,19,19,0,0,0,0,00:16,00:16,00:00,NaN
3,4skiers.it ...,396,396,0,1,1,0,01:04,01:04,00:00,NaN
4,4snowboard.it ...,151,20,131,0,0,0,03:48,03:17,03:53,NaN
5,4surf.it ...,113,113,0,1,1,0,03:16,03:16,00:00,NaN
6,4windsurf.it ...,152,33,120,1,0,1,01:36,00:40,01:51,NaN
7,Abbonationline ...,595,314,280,1,1,0,00:54,01:20,00:25,NaN
8,Affaritaliani.it ...,44457,31725,12734,194,144,50,02:48,02:38,03:13,NaN
9,AGI ...,49572,30319,19253,113,58,54,02:44,02:59,02:21,NaN

In [25]:
df[df['Brand'].str.match('Giallozafferano.it')]

,Brand,TDA,PC,MOBILE,TDA.2,PC.2,MOBILE.2,TDA.4,PC.4,MOBILE.4,Unnamed: 17
314,Giallozafferano.it ...,823766,336294,495729,3489,1270,2219,04:20,04:10,04:24,NaN
315,Giallozafferano.it ...,816111,333809,490192,3437,1240,2197,04:20,04:09,04:23,NaN
316,Giallozafferano.it ...,30793,18030,12764,52,30,22,01:19,00:44,02:07,NaN

In [26]:
df = df.drop([315,316], axis=0)

In [27]:
df[df['Brand'].str.match('Giallozafferano.it')]

,Brand,TDA,PC,MOBILE,TDA.2,PC.2,MOBILE.2,TDA.4,PC.4,MOBILE.4,Unnamed: 17
314,Giallozafferano.it ...,823766,336294,495729,3489,1270,2219,04:20,04:10,04:24,NaN